.card-container {
  /* border: 1px solid #e0e0e0; */
  border-radius: 8px;
  padding: 16px;
  margin: 12px;
  width: 200px;
  height: 300px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  background-image: url('https://static.vecteezy.com/system/resources/previews/037/152/677/non_2x/sticky-note-paper-background-free-png.png');
  /* background-color: #f9f9ff; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  /* cursor: pointer; */
}

.large-screen {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(92, 110, 110); */
  padding: 1vw 2vw;
  /* justify-content: center;
    align-items: center; */
}
.back-button {
  background-color: #4646e2;
  padding: 8px 20px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  &:hover {
    background-color: #3838c8;
  }
}
.larger-screen-heading {
  font-size: 5vh;
  text-transform: capitalize;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(185, 184, 184);
  font-weight: bold;
  margin-top: 10px;
}
.large-screen-content {
  font-size: 5vh;
  color: #cacacc;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 15px;
  margin-bottom: 10px;
}
.card-heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 8px;
  color: #3b3054;
  margin-top: 10px;
}
.card-content {
  font-size: 1rem;
  /* margin-bottom: 8px; */
  color: #6060b6;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 20px;
  margin-bottom: 10px;
}
.delete-button {
  position: absolute;
  top: 25px;
  right: 10px;
  background-color: #ea3f42;
  /* color: white; */
  font-size: 25px;
  border: none;
  /* padding: 8px 12px;  */
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .card-container {
    margin: 8px;
  }
  .card-heading {
    font-size: 1rem;
  }
  .card-content {
    font-size: 0.875rem;
  }
}
