.content-container {
  padding: 1rem;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  width: 50%;
  justify-content: center;
  flex-wrap: wrap;
  /* align-items: center; */
  gap: 1rem;
}
@media (max-width: 768px) {
  .content-container {
    width: 100%;
  }
}
