.form-container {
  width: 50%;
  border-right: 1px solid #d1d5db;
}

.input-heading {
  border-bottom: 1px solid #d1d5db;
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-size: 2.2rem;
  font-weight: 600;
  outline: none;
  /* border-radius: 0.375rem; */
  padding-left: 0.5rem;
}

.textarea-notes {
  width: 100%;
  height: 80%;
  border-bottom: 1px solid #d1d5db;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  outline: none;
  resize: none;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.save-button {
  background-color: #3b82f6;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .form-container {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #d1d5db;
  }
  .textarea-notes {
    font-size: 1.25rem;
  }
}
